<p id="notice"><%= notice %></p>

<h1>Listing Yesnochoices</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yesnochoices.each do |yesnochoice| %>
      <tr>
        <td><%= link_to 'Show', yesnochoice %></td>
        <td><%= link_to 'Edit', edit_yesnochoice_path(yesnochoice) %></td>
        <td><%= link_to 'Destroy', yesnochoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yesnochoice', new_yesnochoice_path %>
