<h1>Listing multiplechoices questions</h1>

<td><%= link_to 'Create a multiplechoices questions', new_multiplechoice_path %>
 
<table>
  <tr>
    <th>Index<th>
    <th>Content</th>
    <th>Score</th>
  </tr>
 
  <% @multiplechoices.each do |multiplechoice| %>
    <tr>
      <td><%= multiplechoice.id %></td>
      <td><%= multiplechoice.content %></td>
      <td><%= multiplechoice.score %></td>
      <td><%= link_to 'Show', multiplechoice_path(multiplechoice) %></td>
      <td><%= link_to 'Edit', edit_multiplechoice_path(multiplechoice) %></td>
      <td><%= link_to 'Destroy', multiplechoice_path(multiplechoice),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>